
%p
  %b Name:
  = @type_product.name

= link_to 'Edit', edit_type_product_path(@type_product), class:"btn btn-raised btn-default"
\|
= link_to 'Back', type_products_path, class:"btn btn-raised btn-default"
