.col-md-3
.col-md-6.text-center
    %h1.text-center Editing user
    = render 'form'
    = link_to 'Show', @user, class:"btn btn-raised btn-primary"
    \|
    = link_to 'Back', users_path, class:"btn btn-raised btn-default"
.col-md-3