@import "bootstrap";


.landing-form{
	border:none;
	outline:none;
	border-bottom: solid 1px #E43D7A;
	font-size: 1.5em;
	color: #C8376C;
}
::webkit-input-placeholder {color:#E43D7A;}
:-moz-placeholder{color:#E43D7A;opacity:0.7;}
::-moz-placeholder{color:#E43D7A;opacity:0.7;}
:-ms-input-placeholder{color:#E43D7A;opacity:0.7;}