%h1.text-center Editing total_product

= render 'form'

= link_to 'Show', @total_product, class:"btn btn-raised btn-default"
\|
= link_to 'Back', total_products_of_path(@product), class:"btn btn-raised btn-default"
